<div class="top-item">
  <h1 class="text-center">Aboutページ</h1><br>
  <h2 class="text-center"><%= link_to "SPOTS", spots_path %></h2>
  <h2 class="text-center"><%= link_to "POST-SPOT", new_spot_path %></h2>
</div>