<div class="top-item text-center">
  <h1>Aboutページ</h1><br>
  <h2><%= link_to "USERS", users_path %></h2>
  <h2><%= link_to "SPOTS", spots_path %></h2>
  <h2><%= link_to "POST SPOT", new_spot_path %></h2>
</div>