<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <% if @range == "User" %>
   <tbody>
     <% @users.each do |user| %>
       <tr>
         <td><%= user.name %></td>
       </tr>
      <% end %>
   </tbody>
  <% else %>
    <tbody>
      <% @spots.each do |spot| %>
        <tr>
          <td><%= spot.spot_name %></td>
          <td><%= spot.caption %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>